/*----------------------
RESET
----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------
COMMON
----------------------*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

h2 {
    line-height: 45px;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 25px;
}

h3 {
    font-size: 26px;
    line-height: 30px;
}

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}

/*---SMALL ROUNDED BUTTON---*/
header .header-top .header-login > button,
footer .footer-bottom .footer-button > button {
    padding: 8px 11px;
    font-size: 11px;
    border-radius: 18px;
    border: none;
}

/*---BIG ROUNDED BUTTON---*/
header .header-bottom .content > button,
main section .row .col-full .full-bottom > button {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
}

/*---DOWNLOAD BUTTON---*/
header .header-bottom .content > button:first-of-type::before,
main section .row .col-full .full-bottom > button::before {
    content: '\2193';
    font-weight: 700;
    margin-right: 3px;
}

header .header-bottom .content > button:first-of-type::after,
main section .row .col-full .full-bottom > button::after {
    content: 'Scarica per Mac';
}

/*----------------------
DEBUG
----------------------*/
.debug header .header-top {
    height: 80px;
}

.debug header .header-top .header-bar > div,
.debug header .header-top .header-bar > nav,
.debug .header-bottom > div,
.debug main section .row > div,
.debug footer .footer-top > .main-column,
.debug footer .footer-bottom > div {
    border: 2px dashed black;
}

.debug .header-bottom > .content {
    height: 400px;
}

.debug main section .row > .col-big, 
.debug main section .row > .col-small,
.debug footer .footer-top {
    height: 600px
}

.debug main section .row > .col-full {
    height: 800px;
}

/*----------------------
HEADER
----------------------*/
header {
    border-bottom: 3px solid #ADD8E6;
    color: white;
    text-align: center;
}

/*----------------------
HEADER TOP
----------------------*/
header .header-top {
    padding: 15px 0;
    background-color: #255ee9;
    font-size: 12px;
}

header .header-top .header-bar {
    display: flex;
    align-items: center;
}

header .header-top .header-bar > .header-login,
header .header-top .header-bar > nav {
    padding: 5px;
}

.header-top .header-bar .header-logo,
.header-top .header-bar .header-login {
    width: 20%;
} 

.header-top .header-bar .header-logo > img,
footer .footer-bottom .footer-logo > img {
    height: 25px;
}

.header-top .header-bar .header-login {
    text-align: right;
}

.header-top .header-bar .header-links {
    flex-grow: 1;
}

.header-top .header-bar .header-links ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.header-top .header-links li > a {
    text-decoration: none;
    color: white;
}

/*----------------------
HEADER BOTTOM
----------------------*/
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px; 
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}    

.header-bottom > .content {
    width: 900px;
    padding: 120px 120px 90px;
}

.header-bottom .content > h1 {
    font-size: 38px;
}

.header-bottom .content > p {
    margin: 40px 0 10px;
}

header .header-bottom .content > button:last-child {
    background-color: #23272a;
    color: white;
    margin-left: 12px;
}

/*----------------------
MAIN
----------------------*/
main section {
    padding: 50px;
}

main section:nth-of-type(even) {
    background-color: #f6f6f6;
}

main section:nth-of-type(even) .row {
    flex-direction: row-reverse;
}

main section .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main section .row > .col-big {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

main section .row .col-big > img {
    width: 100%;
}

main section .row > .col-small {
    width: 30%;
    padding: 30px;
}


main section .row:last-child {
    margin-bottom: 50px;
}


main section .row .col-full {
    text-align: center;
}

main section .row .col-full p {
    padding: 0 200px;
}

main section .row .col-full > img {
    width: 80%;
}

main section .row .col-full .full-bottom > h3 {
    margin: 60px 0 40px;
}

main section .row .col-full .full-bottom > button {
    background-color: #7289da;
    color: white;
}

/*----------------------
FOOTER
----------------------*/
footer {
    background-color: #23272A;
    color: white;
    border-bottom: 1px solid #f6f6f6;
}

/*----------------------
FOOTER TOP
----------------------*/
footer .footer-top h3,
footer .footer-top h5 {
    color: #7289da;
} 

footer .footer-top {
    display: flex;
    padding: 60px 0 25px;
}

footer .footer-top > .main-column {
    flex-basis: 20%;
}

footer .footer-top > .menu-column {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
}

footer .footer-top .menu-column > .col {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-top .menu-column .col .list-container > ul {
    list-style-type: none;
    font-size: 12px;
}

footer .footer-top .main-column > h3 {
    margin-bottom: 12px;
}

footer .footer-top .main-column .language > img {
    height: 15px;
    vertical-align: middle;
}

footer .footer-top .main-column select {
    background-color: #23272A;
    border: none;
    color: white;
    font-size: 12px;
}

/*----------------------
FOOTER BOTTOM
----------------------*/
footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #7289da;
}

footer .footer-bottom .footer-button > button {
    background-color: #7289da;
    color: white;
}

.footer-closing {
    margin: 0;
}