/*----------------------
RESET
----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------
COMMON
----------------------*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}

/*---SMALL ROUNDED BUTTON---*/
header .header-top .header-login > button {
    padding: 8px 11px;
    font-size: 11px;
    border-radius: 18px;
    border: none;
}

/*---BIG ROUNDED BUTTON---*/
header .header-bottom .content > button {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
}

/*----------------------
DEBUG
----------------------*/
.debug header .header-top {
    height: 80px;
}

.debug header .header-top .header-bar > div,
.debug header .header-top .header-bar > nav,
.debug .header-bottom > div,
.debug main section .row > div,
.debug footer .footer-top > .main-column,
.debug footer .footer-bottom > div {
    border: 2px dashed black;
}

.debug .header-bottom > .content {
    height: 400px;
}

.debug main section .row > .col-big, 
.debug main section .row > .col-small,
.debug footer .footer-top {
    height: 600px
}

.debug main section .row > .col-full {
    height: 800px;
}

/*----------------------
HEADER
----------------------*/
header {
    border-bottom: 3px solid #ADD8E6;
    color: white;
    text-align: center;
}

/*----------------------
HEADER TOP
----------------------*/
header .header-top {
    padding: 15px 0;
    background-color: #255ee9;
    font-size: 12px;
}

header .header-top .header-bar {
    display: flex;
    align-items: center;
}

header .header-top .header-bar > .header-login,
header .header-top .header-bar > nav {
    padding: 5px;
}

.header-top .header-bar .header-logo,
.header-top .header-bar .header-login {
    width: 20%;
} 

.header-top .header-bar .header-logo > img {
    height: 25px;
}

.header-top .header-bar .header-login {
    text-align: right;
}

.header-top .header-bar .header-links {
    flex-grow: 1;
}

.header-top .header-bar .header-links ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.header-top .header-links li > a {
    text-decoration: none;
    color: white;
}

/*----------------------
HEADER BOTTOM
----------------------*/
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px; 
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}    

.header-bottom > .content {
    width: 900px;
    padding: 110px 120px;
}

.header-bottom .content > h1 {
    font-size: 38px;
}

.header-bottom .content > p {
    margin: 40px 0 10px;
}

/*
header .header-bottom .content .d-arrow::before {
    content: '&darr;';
}*/

header .header-bottom .content > button:last-child {
    background-color: #23272a;
    color: white;
    margin-left: 12px;
}

/*----------------------
MAIN
----------------------*/
main section {
    padding: 50px;
}

main section:nth-child(even) {
    background-color: #D3D3D3;
}

main section:nth-child(even) .row {
    flex-direction: row-reverse;
}

main section .row {
    display: flex;
    justify-content: center;
}

main section .row > .col-big {
    width: 60%;
    background-color: #1E90FF;
}

main section .row > .col-small {
    width: 40%;
    background-color: #FFC0CB;
}

main section .row > .col-full {
    width: 100%;
    background-color: #228B22;
}

/*----------------------
FOOTER
----------------------*/
footer {
    background-color: #23272A;
}

/*----------------------
FOOTER TOP
----------------------*/

footer .footer-top {
    display: flex;
    padding: 10px 0;
}

footer .footer-top > .main-column {
    flex-basis: 30%;
    background-color: #F08080;
}

footer .footer-top > .menu-column {
    flex-basis: 70%;
    background-color: #20B2AA;
    display: flex;
    justify-content: space-between;
}

footer .footer-top .menu-column > .col {
    flex-basis: 25%;
    border: 2px dashed white;
}

hr {
    margin: 30px 0;
}

/*----------------------
FOOTER BOTTOM
----------------------*/
footer .footer-bottom {
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

footer .footer-bottom > div {
    background-color: #FFB6C1;
    padding: 3px 5px;
}

.footer-closing {
    margin: 0;
}